*~
.org-id-locations
abbrev_defs
auto-save-list
bookmarks
customizations.el
diary
eln-cache
elpa
eshell
eww-bookmarks
history
image-dired
init.el
kkcrc
network-security.data
projects
recentf
tramp
transient
url
